.fme-filter-container {
  width: 439px;
  height: 280px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 35, 90, 0.12), 0 2px 4px 0 rgba(0, 35, 90, 0.06), 0 0 2px 0 rgba(0, 0, 0, 0.02);
}
.fme-filter-container .fme-filter-tabs {
  padding: 0px 24px;
}
.fme-filter-container .fme-filter-tabs li {
  user-select: none;
  display: inline-block;
  padding: 11px 0px;
  margin-right: 16px;
  color: #636669;
  font-size: 14px;
  cursor: pointer;
}
.fme-filter-container .fme-filter-tabs li.active {
  color: #2979ff;
  border-bottom: 2px solid #2979ff;
}
.fme-filter-container .fme-filter-items {
  height: 190px;
  display: none;
  padding: 8px;
  overflow-x: auto;
}
.fme-filter-container .fme-filter-items.active {
  display: block;
}
.fme-filter-container .fme-filter-items ul .item {
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 6px 16px;
  font-size: 14px;
  font-stretch: normal;
  color: #242a34;
}
.fme-filter-container .fme-filter-items ul .item:hover {
  background-color: #eff6ff;
}
.fme-filter-container .fme-filter-items ul .item .select {
  position: absolute;
  right: 22px;
  top: 1px;
  height: 24px;
  width: 24px;
}
.fme-filter-container .fme-filter-items ul .item .select.icon-checked-all {
  background-image: url(assets/icon-checked-all.svg);
  background-size: 24px 24px;
}
.fme-filter-container .fme-filter-items ul .item .select.icon-checked {
  background-image: url(assets/icon-checked.svg);
  background-size: 24px 24px;
}
.fme-filter-container .fme-filter-items ul .item .select.icon-unchecked {
  background-image: url(assets/icon-unchecked.svg);
  background-size: 24px 24px;
}
.fme-filter-container .fme-filter-operation {
  border-top: 1px solid #eff2f8;
  padding: 7px 24px;
}
.fme-filter-container .fme-filter-operation .button {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  border: 1px solid #d8dde8;
  border-radius: 2px;
  padding: 6px 12px;
  min-width: 80px;
  color: #636669;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.fme-filter-container .fme-filter-operation .reset {
  position: relative;
  padding-left: 32px;
  margin-right: 114px;
}
.fme-filter-container .fme-filter-operation .reset i {
  position: absolute;
  left: 8px;
  top: 2px;
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url(./assets/icon-reset.svg);
  background-size: 24px 24px;
}
.fme-filter-container .fme-filter-operation .cancel {
  margin-right: 17px;
}
.fme-filter-container .fme-filter-operation .confirm {
  border: 1px solid #2c86ff;
  background-color: #2c86ff;
  color: #fff;
}
